
<div class="col-md-6 col-sm-6 col-xs-12">
  <div *ngIf="tech_chart1" class="x_panel">
    <div class="x_title">
      <h2 class="color_text">Technology Charts <small></small></h2>
      <ul class="nav navbar-right panel_toolbox">
        <li (click)="minimize('tech_charts')"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li (click)="close('tech_charts')"><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div *ngIf="tech_chart" class="x_content" style="display: block;">

      <div class="">
        <div style="display: block">
          <canvas baseChart
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
